<div class="root_container">

    <!-- container 1 -->

    <div class="container_1" data-aos="fade-up-right">
        <div class="con_1_head" data-aos="fade-up"> 
            <img src="../../assets/homeopathy/con_1_icon.png" alt="" data-aos="fade-up">   
            <p class="con_1_head_txt" data-aos="fade-up">About Homoeopathy</p>
        </div>
        <p class="con_1_para" data-aos="fade-up">The word ‘ Homeopathy ‘ is derived from two Greek words, ‘Homeos’ means ‘similar’ and ‘Pathos’ means ‘suffering’. It is based on the natural law of healing "Similia Similibus Curantur" which means "likes are cured by likes". Dr. Samuel Hahnemann (1755 - 1843) gave it a scientific basis in the early 19th century. Homeopathy is an ideal and gentle therapeutic method which gives rapidly permanent restoration of the health by removing and annihilating the disease in its whole extent in the most harmless way. Homeopathy is a system of medicine in which medicine is chosen based on individual peculiarities of the patient. The medicine is not selected based on disease only or diagnosis.Homeopaths consider the totality of symptoms or sum total of all symptoms in an individual with physical and mental constitution of the patient to reach a medicine, which has properties similar to that of the symptom total in the patient or similimum.</p>
    </div>

    <!-- container 2 -->
    <div class="con_2_head">
        <p class="con_2_head_txt" data-aos="fade-up-right">How It’s Work</p>
    </div>
    <div class="container_2" data-aos="fade-up-right">
        <p class="con_2_para" data-aos="fade-up-right">Homeopathy operates on the principle of treating the individual, not just the disease, using natural remedies to stimulate the body's innate healing ability. It emphasizes the importance of understanding the unique mental, emotional, and physical aspects of each person's health. By selecting remedies based on symptom similarity and individual characteristics, homeopathy aims to address the underlying cause of illness rather than just alleviating symptoms. This personalized approach allows for tailored treatment plans that consider the specific needs of each patient, promoting holistic well-being.</p>
        <p class="con_2_para" data-aos="fade-up-right">Furthermore, homeopathy acknowledges the profound link between mental and physical health, recognizing that emotional stress and psychological factors can manifest as physical symptoms. By addressing these underlying emotional imbalances, homeopathy seeks to restore harmony and balance within the body, promoting overall wellness. Its efficacy extends beyond humans, as it can also be safely and effectively used to treat animals, reflecting its versatility and holistic approach to healing.</p>
    </div>

    <!-- container 3 -->
    <div class="con_3_head" data-aos="fade-down-right">
        <img src="../../assets/homeopathy/con_3_icon.png" alt="" data-aos="fade-down-right">
        <p class="con_3_head_txt" data-aos="fade-down-right">SERVICES PROVIDED</p>
    </div>
    <div class="container_3">
        <div class="box_1" data-aos="flip-down">
            <div class="con_3_box_1_img" data-aos="flip-down">
                <img src="../../assets/homeopathy/con_3_img.png" alt="" data-aos="flip-down">
            </div>
            <div class="content">
                <div class="box_1_head">
                    <p class="box_1_head" data-aos="flip-down">Paediatric:</p>
                </div>
                <div class="box_1_contents">
                    <!-- column 1 -->
                    <ul class="content_col_1">
                        <li class="col_1_list_item" data-aos="zoom-in">Reaptead cold & cough</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Allergic Rhinitis</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Constipation</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Diarrhoea</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Delayed Milestones</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Improve APP & digestion</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Improve Immunity</li>
                    </ul>
                    <!-- column 2 -->
                    <ul class="content_col_1 content_col_2">
                        <li class="col_1_list_item" data-aos="zoom-in">Adenoids</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Earache</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Sove throat</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Fever</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Asthma</li>
                        <li class="col_1_list_item" data-aos="zoom-in">UTI</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Malnutrition</li>
                    </ul>
                    <!-- column 3 -->
                    <ul class="content_col_1 content_col_3">
                        <li class="col_1_list_item" data-aos="zoom-in">Skin infection</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Tonsilitis</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Anxiety</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Colic</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Gastritis</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Worms</li>
                        <li class="col_1_list_item" data-aos="zoom-in">Headache</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- container 4 -->

    <div class="container_4">
        <div class="con_4_contents">
            <div class="con_4_head">
                <p class="con_4_head_txt">Women's Health:</p>
            </div>
            <div class="con_4_ul_flex">
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items" data-aos="flip-down">PCOD</li>
                        <li class="con_4_list_items" data-aos="flip-down">Fibroid</li>
                        <li class="con_4_list_items" data-aos="flip-down">PMS</li>
                        <li class="con_4_list_items" data-aos="flip-down">Menopause</li>
                        <li class="con_4_list_items" data-aos="flip-down">Irregular Menses</li>
                        <li class="con_4_list_items" data-aos="flip-down">Abnormal uterine bleeding</li>
                        <li class="con_4_list_items" data-aos="flip-down">Dysmenorrhoea</li>
                    </ul>
                </div>
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items" data-aos="flip-down">Infertility</li>
                        <li class="con_4_list_items" data-aos="flip-down">Thyroid diseases</li>
                        <li class="con_4_list_items" data-aos="flip-down">UTI</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="con_4_img">
            <img src="../../assets/homeopathy/con_4_img.png" alt="" data-aos="flip-down">
        </div>
    </div>

    <!-- container 5 -->

    <div class="container_4 container_5">
        <div class="con_4_contents">
            <div class="con_4_head">
                <p class="con_4_head_txt" data-aos="flip-down">Chronic conditions: (Adults)</p>
            </div>
            <div class="con_4_ul_flex">
                <div class="lists_box" data-aos="flip-down">
                    <ul class="con_4_lists"data-aos="flip-down">
                        <li class="con_4_list_items" data-aos="flip-down">Common Cold & Cough</li>
                        <li class="con_4_list_items" data-aos="flip-down">Flu</li>
                        <li class="con_4_list_items" data-aos="flip-down">Acute Bronchitis</li>
                        <li class="con_4_list_items" data-aos="flip-down">MenopauseGastritis</li>
                        <li class="con_4_list_items" data-aos="flip-down">Headache [Migraine]</li>
                        <li class="con_4_list_items" data-aos="flip-down">Constipation</li>
                        <li class="con_4_list_items" data-aos="flip-down">Sove throat</li>
                    </ul>
                </div>
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items" data-aos="flip-down">Diarrhea</li>
                        <li class="con_4_list_items" data-aos="flip-down">Nausea Vomiting</li>
                        <li class="con_4_list_items" data-aos="flip-down">Sinusitis</li>
                        <li class="con_4_list_items" data-aos="flip-down">Menorrhagia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="con_4_img">
            <img src="../../assets/homeopathy/con_5_img.png" alt="" data-aos="flip-down">
        </div>
    </div>

    <!-- container 6 -->

    <div class="container_6 container_3">
        <div class="box_1 box_2">
            <div class="con_3_box_1_img">
                <img src="../../assets/homeopathy/con_6_img.png" alt="" data-aos="fade-down-right">
            </div>
            <div class="content">
                <div class="box_1_head">
                    <p class="box_1_head" data-aos="fade-down-right">Acute conditions:</p>
                </div>
                <div class="box_1_contents">
                    <!-- column 1 -->
                    <ul class="content_col_1">
                        <li class="col_1_list_item" data-aos="fade-down-right">Rheumatoid Arthrilis</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">GERD</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Osteoarthritis</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Gout</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Asthma</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Haemorrhoids</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Diabetes</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">PCOD</li>
                    </ul>
                    <!-- column 2 -->
                    <ul class="content_col_1 content_col_2">
                        <li class="col_1_list_item" data-aos="fade-down-right">Fissures in ano</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Hypertension</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Migraine</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Ulcerative colitis IBS</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Thyroid Problem</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Hyperlipidaemia</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Menopause</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Fibroid</li>
                    </ul>
                    <!-- column 3 -->
                    <ul class="content_col_1 content_col_3">
                        <li class="col_1_list_item" data-aos="fade-down-right">Eczema</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Psoriasis</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Renal Calcul</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Anxiety</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Depression</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Chronic Respiratory disease</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Epilepsy</li>
                        <li class="col_1_list_item" data-aos="fade-down-right">Anaemia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- container 7 -->

    <div class="con_7_head" data-aos="zoom-in">
        <p class="con_7_head_txt" data-aos="zoom-in">Meet Our Medical Team</p>
    </div>

    <div class="container_7">
        <div class="con_7_dic_details" data-aos="zoom-in">
            <div class="doc_1">
                <img src="../../assets/homeopathy/Dr.Anusha_Mutali_Desai.png" alt="" data-aos="zoom-in">
                <p class="doc_name" data-aos="zoom-in-up">Dr. Suvarnini Konale</p>
                <p class="bnys" >BNYS</p>
                <p class="medicine" >LIFESTYLE MEDICINE</p>
            </div> 
        </div>
    </div>


    <!-- view all button -->

    <div class="view_all">
        <button class="view_all_btn">View All <i class="fa-solid fa-angle-right"></i></button>
    </div>
    


    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</div>
