<div class="root_container">
    <!-- container 1 -->
    <div class="container_1">
        <div class="con_1_lft">
            <p class="con_1_heading" data-aos="fade-down">"समर्पण: आशीषःः" (Samarpa<span class="letter_disign">ṇ</span>am: Aśi<span class="letter_disign">ṣ</span>aḥ) - Giving is a Blessing.</p>
            <p class="con_1_pararaph" data-aos="fade-down">“In the act of giving, we find the true essence of humanity,  For it is in selfless offering that our souls find unity. Each gift bestowed, a ripple of hope and grace, Bringing abundant blessings to every heart and place”</p>
            <div class="con_1_btns" data-aos="fade-down">
                <button class="con_btn donate_here_btn_con_1">Donate Here <i class="fa-solid fa-chevron-right" data-aos="fade-down"></i></button>
              <button class="con_btn explore_more_btn_con_1" data-aos="fade-down" (click)="scrollToSection()">Explore More</button>
            </div>
        </div>
        <div class="con_1_right" data-aos="fade-right">
            
        </div>
        
    </div>

    <div class="con_1_right_img">
        <img src="../../assets/dontation-images/Container_1.png" alt="" class="con_1_img_1" data-aos="fade-down-right">
        <img src="../../assets/dontation-images/con_1.png" alt="" class="con_1_img_2" data-aos="fade-down-right">
    </div>
    

    <!-- container 2 -->
    <!-- container_2_heading -->
    <div class="con_2_heading" id="container_2">
        <p class="con_2_head_txt">"समर्पण: आशीष:" (Samarpa<span class="letter_disign">ṇ</span>am: Aśi<span class="letter_disign">ṣ</span>aḥ) - Giving is a.</p>
    </div>
    <div class="container_2">
        <!-- row -->
        <div class="row row_1">
            <!-- In-Patients Department Service -->
            <div class="box box_1 box_1_">
                <div class="animation anime"></div>
                <div class="content">
                    <div class="con_1_img">
                        <img src="../../assets/dontation-images/Services_icon.png" alt="" data-aos="fade-down-right">
                    </div>
                    <div class="con_txt">
                        <p class="con_head" data-aos="flip-right">In-Patients Department Service</p>
                        <p class="para_txt" data-aos="flip-left">Empowering health, one patient at a time, with our free IPD service at Rashtrotthana Hospital & Research Center. Compassionate care, limitless possibilities – experience it now, on us!</p>
                    </div>
                </div>
            </div>
            <!-- Blood Donation Camp -->
            <div class="box box_1 box_2">
                <div class="animation_2 anime"></div>
                <div class="content">
                    <div class="con_1_img">
                        <img src="../../assets/dontation-images/Blood_icon.png" alt="" data-aos="fade-down-right">
                    </div>
                    <div class="con_txt">
                        <p class="con_head" data-aos="flip-right">Blood Donation Camp</p>
                        <p class="para_txt" data-aos="flip-left">"Spreading hope, one drop at a time, at our free blood donation camp in Rashtrotthana Hospital & Research Center. Join us in saving lives, together, with every heartfelt donation."</p>
                    </div>
                </div>
            </div>
            <!-- Medical Health Care Camp -->
            <div class="box box_1 box_3">
                <div class="animation_3 anime"></div>
                <div class="content">
                    <div class="con_1_img">
                        <img src="../../assets/dontation-images/Heath_camp_icon.png" alt="" data-aos="fade-down-right">
                    </div>
                    <div class="con_txt">
                        <p class="con_head" data-aos="flip-right">Medical Health Care Camp</p>
                        <p class="para_txt" data-aos="flip-left">"Bringing wellness to the community, one check-up at a time, at our free medical health care camp in Rashtrotthana Hospital & Research Center. Your health, our priority – join us for compassionate care and support."</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- row_2 -->
        <div class="row_2">
            <div class="box box_1 box_4">
                <div class="animation_4 anime"></div>
                <div class="content">
                    <div class="con_1_img">
                        <img src="../../assets/dontation-images/Heath_camp_icon.png" alt="" data-aos="fade-down-right">
                    </div>
                    <div class="con_txt">
                        <p class="con_head" data-aos="flip-right">Medical Health Care Camp</p>
                        <p class="para_txt" data-aos="flip-left">"Bringing wellness to the community, one check-up at a time, at our free medical health care camp in Rashtrotthana Hospital & Research Center. Your health, our priority – join us for compassionate care and support."</p>
                    </div>
                </div>
            </div>

            <div class="box box_1 box_5">
                <div class="animation_5 anime"></div>
                <div class="content">
                    <div class="con_1_img">
                        <img src="../../assets/dontation-images/Heath_camp_icon.png" alt="" data-aos="fade-down-right">
                    </div>
                    <div class="con_txt">
                        <p class="con_head" data-aos="flip-right">Medical Health Care Camp</p>
                        <p class="para_txt" data-aos="flip-left">"Bringing wellness to the community, one check-up at a time, at our free medical health care camp in Rashtrotthana Hospital & Research Center. Your health, our priority – join us for compassionate care and support."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- container 3 or about us -->
    <div class="container_3 about_us">
        <div class="con_2_lft_side">
            <!-- about us  -->
             <div class="abt_us_head" data-aos="zoom-out-right">
                <div class="bg_box"></div>
                 <p class="abt_us_head_txt" data-aos="zoom-out-right">About Us</p>
             </div>
             <!-- container 3 head -->
             <div class="con_3_head">
                 <p class="con_3_head_txt" data-aos="zoom-out-right">Donate today to give hope and change lives!</p>
             </div>
             <!-- container 3 paragraph -->
             <div class="con_3_paragraph">
                 <p class="con_3_paragraph_txt" data-aos="zoom-in">
                     The noble aim of Rashtrotthana Hospital is to provide healthcare that nurtures both body and spirit. Guided by our motto, “Sarve Santu Niramaya,” meaning “May All Be Healthy,” we are committed to ensuring that every individual receives the care they need, regardless of their circumstances. Your donation to Rashtrotthana Hospital directly supports this mission, enabling us to offer vital medical treatments and services to those in need. Thank you for being a part of our journey to create a healthier and more equitable world.
                 </p>
             </div>
             <!-- donate here button -->
             <div class="donate_here">
                  <button class="donate_here_btn" data-aos="zoom-in">Donate Here <i class="fa-solid fa-chevron-right"></i></button>
             </div>
        </div>
        <div class="con_3_right_side">
            <div class="con_3_img">
                <img src="../../assets/dontation-images/Container_3.png" alt="" data-aos="zoom-in">
            </div>
        </div>
    </div>



    <!-- container 4 -->
    <div class="con_4_head">
        <p class="con_4_head_txt" data-aos="zoom-out-right">Touching Lives!</p>
    </div>
    <div class="container_4">
        <div class="box_1_con_4 box_con_4">
            <div class="con_4_box_1_lft_side">
                <div class="content_1_box_4">
                    <p class="content_1_heading" data-aos="zoom-out-down">Clinic on Wheels</p>
                    <p class="content_1_paragraph" data-aos="zoom-out-down">Our mobile healthcare initiative serves remote communities, aiming to bridge healthcare gaps and provide preventive care & treatment to those with limited access to medical services</p>
                </div>
                <div class="content_1_box_4">
                    <p class="content_1_heading" data-aos="zoom-out-down">Poor Patient Service Fund</p>
                    <p class="content_1_paragraph" data-aos="zoom-out-down">Dedicated to support indigent patients, this fund helps cover a portion of hospitalization expenses, ensuring equitable healthcare access.</p>
                </div>
                <div class="content_1_box_4">
                    <p class="content_1_heading" data-aos="zoom-out-down">Old Age Homes</p>
                    <p class="content_1_paragraph" data-aos="zoom-out-down">Tailored healthcare services cater to the specific needs of elderly residents, acknowledging and addressing their unique health requirements.</p>
                </div>
            </div>
            
            <div class="con_4_box_1_right_side con_4_box_1_right_side_2">
                <img src="../../assets/dontation-images/container_4_box_1.png" alt="" data-aos="zoom-in-down">
            </div>
        </div>
        <div class="box_1_con_4 box_2_con_4">
            <div class="con_4_box_1_lft_side con_4_box_1_lft_side_2">
                <img src="../../assets/dontation-images/container_4_box_2.png" alt="" data-aos="zoom-in-down">
            </div>
            <div class="con_4_box_1_right_side">
                <div class="content_1_box_4">
                    <p class="content_1_heading" data-aos="zoom-out-down">School Health Program</p>
                    <p class="content_1_paragraph" data-aos="zoom-out-down">Engaging in comprehensive health programs within schools fosters a culture of wellness among students, promoting their overall health.</p>
                </div>
                <div class="content_1_box_4">
                    <p class="content_1_heading" data-aos="zoom-out-down">Orphanage Support</p>
                    <p class="content_1_paragraph" data-aos="zoom-out-down">Extending healthcare services to children in orphanages ensures access to fundamental healthcare facilities for those in need.</p>
                </div>
                <div class="content_1_box_4">
                    <p class="content_1_heading" data-aos="zoom-out-down">Community Medical Camps</p>
                    <p class="content_1_paragraph" data-aos="zoom-out-down">Our commitment to community welfare is evident in our weekly free medical camps, strategically reaching urban and rural areas, aiming to provide essential healthcare services.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- container 5 -->

    <div class="container_5" data-aos="flip-up">
        <div class="container_5_contents" data-aos="flip-right">
            <div class="content_con_5" data-aos="flip-right">
                <span class="numbers_con_5" data-aos="flip-right">10,000+</span>
                <span class="con_5_paragraph" data-aos="flip-right">People got benefited by Clinic on Wheels Project till April 2024</span>
            </div>
            <div class="content_con_5" data-aos="flip-right"> 
                <span class="numbers_con_5" data-aos="flip-right">150</span>
                <span class="con_5_paragraph" data-aos="flip-right">People got benefited by Poor Patient Fund till 10 April 2024</span>
            </div>
            <div class="content_con_5" data-aos="flip-right">
                <span class="numbers_con_5" data-aos="flip-right">5000+</span>
                <span class="con_5_paragraph">Children got benefited by School Health Program, till January 2024</span>
            </div>
            <div class="content_con_5" data-aos="flip-right">
                <span class="numbers_con_5" data-aos="flip-right">200</span>
                <span class="con_5_paragraph" data-aos="flip-right">People got benefited by Old Age Homes till January 2024</span>
            </div>
            <div class="content_con_5 con_5_responsive" data-aos="flip-right">
                <span class="numbers_con_5" data-aos="flip-right">150</span>
                <span class="con_5_paragraph" data-aos="flip-right">People got benefited in Orphanages till January 2024</span>
            </div>
            <div class="content_con_5" data-aos="flip-right">
                <span class="numbers_con_5" data-aos="flip-right">15,000+</span>
                <span class="con_5_paragraph">People got benefited by Community Health Check-up till January 2024</span>
            </div>
            <div class="content_con_5" data-aos="flip-right"    >
                <span class="numbers_con_5" data-aos="flip-right">5000+</span>
                <span class="con_5_paragraph" data-aos="flip-right">People got benefited by Lifestyle Consultation till April 2024</span>
            </div>
        </div>
    </div>
    <div class="container_5_milestone">
        <p class="con_5_milestone_txt" data-aos="flip-right">Our Milestones of Success</p>
    </div>

    <!-- conyainer 6 -->
    <div class="container_6">
        <!-- heading - Details of NGO -->
        <div class="container_6_head" data-aos="fade-down-left">
            <p class="con_6_heading_txt" data-aos="fade-down-left">Details of NGO</p>
        </div>
        <!-- table 1 -->
        <div class="con_5_table" data-aos="fade-down-left"> 
            <table class="table_1" data-aos="fade-down-left">
                <tr class="table_1_head" data-aos="fade-down-left">
                    <td class="table_1_data_heading"  colspan="2">
                        Details of re NGO
                    </td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Organization name</td>
                    <td class="table_1_value" data-aos="fade-down-left">Rashtrotthana Trust</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Address</td>
                    <td class="table_1_value" data-aos="fade-down-left">93, Keshava Shilpa, Kempegowda Nagar, Bangalore –560004</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Contact</td>
                    <td class="table_1_value" data-aos="fade-down-left">080-26612730 / 731 / 732, info&#64;rashtrotthana.org</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Type of organization</td>
                    <td class="table_1_value" data-aos="fade-down-left">Public Charitable Trust</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Registration Act</td>
                    <td class="table_1_value" data-aos="fade-down-left">The Indian Trusts Act, 1882</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Registration No & Date</td>
                    <td class="table_1_value" data-aos="fade-down-left">Registration No 137/03-04, Date: 01-08-2003</td>
                </tr>
                <tr class="table_1_row" data-aos="fade-down-left">
                    <td class="table_1_property" data-aos="fade-down-left">PAN No.</td>
                    <td class="table_1_value" data-aos="fade-down-left">AAATR6411N</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">80 G</td>
                    <td class="table_1_value" data-aos="fade-down-left">AAATR6411NF20211</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">12 A registration no</td>
                    <td class="table_1_value" data-aos="fade-down-left">AAATR6411NE20213</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">CSR-1 NGO Registration number</td>
                    <td class="table_1_value" data-aos="fade-down-left">CSR00010752</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">NGO Darpan Unique ID</td>
                    <td class="table_1_value" data-aos="fade-down-left">KA/2022/0317709</td>
                </tr>
            </table>

            <!-- table 2 -->
            <table class="table_1" data-aos="fade-down-left">
                <tr class="table_1_head">
                    <td class="table_1_data_heading"  colspan="2" data-aos="fade-down-left">
                        Bank Account Details                        
                    </td>
                </tr>
                <tr class="table_1_row" data-aos="fade-down-left">
                    <td class="table_1_property" data-aos="fade-down-left">Name of the Hospital</td>
                    <td class="table_1_value" data-aos="fade-down-left">Jayadev Memorial Rashtrotthana Hospital</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Bank Name</td>
                    <td class="table_1_value" data-aos="fade-down-left">HDFC Bank</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Branch Name</td>
                    <td class="table_1_value" data-aos="fade-down-left">Richmond Road Branch</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Branch Address</td>
                    <td class="table_1_value" data-aos="fade-down-left">No 8124, Salco Centre, Richmond Rd, Bengaluru - 560025</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Account Number</td>
                    <td class="table_1_value" data-aos="fade-down-left">59109483535352</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">IFSC Code</td>
                    <td class="table_1_value" data-aos="fade-down-left">HDFC0000523</td>
                </tr>
                <tr class="table_1_row">
                    <td class="table_1_property" data-aos="fade-down-left">Account Type</td>
                    <td class="table_1_value" data-aos="fade-down-left">Savings Account</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- container 7 -->
    <div class="container_7" data-aos="zoom-in-down">
        <p class="con_7_heading" data-aos="zoom-in-down">Divinity in Healthcare</p>
        <p class="con_7_contact_us" data-aos="zoom-in-down">For more information, Contact us on:</p>
        <div class="con_7_info" data-aos="zoom-in-down">
            <p class="con_7_email" data-aos="zoom-in-down">Email: info&#64;rashtrotthanahospital.com</p>
            <p class="con_7_number" data-aos="zoom-in-down">Call: 080 6923 9999</p>
        </div>
    </div>

</div>