<div class="footer-component">
    <div class="logo">
        <div>
            <img src="../../assets/JMRH Logo.png">
        </div>
        <div class="text">
            Welcome to Rashtrotthana Hospital – India's First Integrated Multispeciality Hospital offering world-class
            healthcare services under one roof. Our renowned doctors and specialists provide expert care in the fields
            of Modern Medicine, Ayurveda, Homeopathy, Yoga and Naturopathy with a holistic approach
        </div>
    </div>
    <div class="links">
    <div class="our-links">
        <div class="header contact">
            Our Links<br>
            <img src="../../assets/border.png">
        </div>
        <div class="text set-container">
            <div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Home</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">About Us</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Specialists</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Doctors</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Facilities</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Health Check</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Donation</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="other-links">
        <div class="header contact">
            Other Links<br>
            <img src="../../assets/border.png">
        </div>
        <div class="text set-container">
            <div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Insurance</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Career</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Reviews</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Terms & Conditions</a>
                </div>
                <div class="each-link">
                    <div>
                        <img src="../../assets/Symbol.png" alt="" />
                    </div>
                    <a href="">Help</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="contact-us">
        <div class="header contact">
            Contact Us<br>
            <img src="../../assets/border.png" alt="">
        </div>
        <div class="text">
            <div class="contact-us-address">
                <img src="../../assets/home-icon.png" alt="">
                <div>080 6923 9999 </div>
            </div>
            <div class="contact-us-address">
                <img src="../../assets/home-icon.png" alt="">
                <div>info&#64;rashtrotthanahospital.com</div>
            </div>
            <div class="contact-us-address">
                <img style="width:40px;height: 40px;" src="../../assets/home-icon.png" alt="">
                <div>Jayadev Memorial Rashtrotthana Hospital &
                    Research Centre, Rajarajeshwari Nagar,
                    BEML 5th Stage, Bengaluru - 560098</div>
            </div>
        </div>
    </div>
</div>
<div class="footer-1">
    <div class="follow">
        <div style="margin-top: 0px;">
            Follow Us:
        </div>
        <div class="links-container">
            <img class="links" src="../../assets/fb-1.png" alt="">
            <img class="links" src="../../assets/yt.png" alt="">
            <img class="links" src="../../assets/ig.png" alt="">
            <img class="links" src="../../assets/x-1.png" alt="">
        </div>
    </div>
    <div class="follow">
        Copyrights © 2024 All Rights Reserved, Powered by <a
            style="color:#FF8A00;font-weight: bold;text-decoration: none;" href="">
            Rashtrotthana Trust</a>
    </div>
</div>