<div class="footer-component">
   <div class="logo">
    <div>
        <img src="../../assets/JMRH Logo.png">
    </div>
    <div class="text">
        Welcome to Rashtrotthana Hospital – India's First Integrated Multispeciality Hospital offering world-class healthcare services under one roof. Our renowned doctors and specialists provide expert care in the fields of Modern Medicine, Ayurveda, Homeopathy, Yoga and Naturopathy with a holistic approach
    </div>
   </div>
    <div class="our-links">
        <div class="header contact">
            Our Links<br>
            <img src="../../assets/border.png">
        </div>
        <div class="text">
        <ul>
             <li>Home</li>
            <li>About Us</li>
            <li>specialists</li>
            <li>Doctors</li>
            <li>Facilities</li>
            <li>Health Check</li>
            <li>Donation</li>
            <li>Blog</li>
        </ul>
        </div>
    </div>

    <div class="other-links">
        <div class="header contact">
            Other Links<br>
            <img src="../../assets/border.png">
        </div>
        <div class="text">
        <ul>
             <li>Insurance</li>
            <li>Career</li>
            <li>Reviews</li>
            <li>Terms & Conditions</li>
            <li>Help</li>
        </ul>
        </div>
    </div>
    <div class="contact-us">
        <div class="header contact">
            Contact Us<br>
            <img src="../../assets/border.png">
        </div>
        <div class="text">
            <div style="display: flex;padding-bottom: 2rem;">
                <img src="../../assets/home-icon.png">
                <div style="padding-left: 2rem;">080 6923 9999 </div>
            </div>
            <div style="display: flex;padding-bottom: 2rem;">
                <img src="../../assets/home-icon.png">
                <div style="padding-left: 2rem;">info&#64;rashtrotthanahospital.com</div>
            </div>
            <div style="display: flex; padding-bottom: 2rem;">
                <img style="width:40px;height: 40px;" src="../../assets/home-icon.png">
                <div style="padding-left: 2rem;">Jayadev Memorial Rashtrotthana Hospital &<br>
                    Research Centre, Rajarajeshwari Nagar,<br>
                    BEML 5th Stage, Bengaluru – 560098</div>
            </div>
        </div>
    </div>
</div>
<div class="footer-1">
    <div class="follow">
        <div style="margin-top: 0px;">
            Follow Us:
        </div>
        <div>
            <img style="margin: 0 20px;" src="../../assets/fb-1.png">
            <img style="margin-right: 20px;"src="../../assets/yt.png">
            <img style="margin-right: 20px;"src="../../assets/ig.png">
            <img style="margin-right: 20px;"src="../../assets/x-1.png">
        </div>
    </div>
    <div class="follow">
        Copyrights © 2024 All Rights Reserved, Powered by <a style="color:#FF8A00;font-weight: bold;text-decoration: none; position: relative;left:5px"href=""> Rashtrotthana Trust</a>
    </div>
</div>

