.footer-component {
  background-color: #343a40;
  width: 100%;
  padding: 3rem;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
}
.logo,
.our-links,
.other-links,
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.our-links,
.other-links {
  width: 50%;
}
.our-links{
  left: 93px;
    width: 50%;
    position: relative;
}

.contact-us,
.logo {
  width: 50%;
}

.header {
  color: #3fb0ce;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 30px;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.set-container {
  width: 100%;
}

.each-link {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

.footer-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: rgba(0, 128, 128);
  height: 60px;
}
.follow {
  padding: 1rem 3rem;
  color: #ffffff;
  display: flex;
  width: 50%;
  align-items: center;
  gap: 15px;
}

.contact-us-address {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: flex-start;
}
.links{
  display: flex;
 
  justify-content: space-evenly;
  width: 100%;
}

.links-container {
  display: flex;
  gap: 10px;
  align-items: center;

  .links {
    cursor: pointer;
  }
}
.footer-logo{
  position: relative;
    right: 75px;

}
@media (max-width: 1100px) {
  .footer-component {
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    /* overflow-x:hidden; */
  }
  .text{
    text-align: justify;
  }
  .logo,
  .our-links,
  .other-links,
  .contact-us {
    width: 100%;
  }
  .our-links,
  .other-links {
    width: 100%;
    position: relative;
    left: 6px;
  }

  .contact-us,
  .logo {
    width: 100%;
  }
  .follow {
    padding: 1rem;
    width: 100%;
    justify-content: center;
  }
  .contact-us-address {
    /* flex-direction: column;
    align-items: center; */
  }
  .links-container {
    justify-content: center;
  }
  .links{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer-1{
    display: flex;
    flex-direction: column;
    height: 150px;
    font-size: 14px;
  }
  .footer-logo{
    right: 25px;
  }
}
@media only screen and (max-width:1030px){
  .text{
    width: 100%;
  }
}