<div style="background-color: #FBFFF5;">
<div class="appointment">
    Book an Appointment
</div>
<div style="display: flex;">
    <div>
    <div class="content">
        We provide high quality services 
        and best hospital service
    </div>
    <div class="contact-info"> 
        <div style="margin-bottom: 1rem;"><img style="margin-right: 1rem;" src="../../assets/contact-mail.png"> info&#64;rashtrotthanahospital.com</div>
        <div style="margin-bottom: 1rem;"><img style="margin-right: 1rem;" src="../../assets/contact-location.png">080 69239999</div>
        <div style="margin-bottom: 1rem;"><img style="margin-right: 1rem;" src="../../assets/contact-call.png">
            Jayadev Memorial Rastrotthana Hospital & Research Centre, Rajarajeshwari Nager,
BEML 5th Stage,
Bengaluru - 560098
        </div>
    </div>
    <div style="padding-left: 6rem;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.980268968693!2d77.5109759750038!3d12.908989616248038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3fbc0262558b%3A0xc42f8d9bb8a681dd!2sJayadev%20Memorial%20Rashtrotthana%20Hospital%20and%20Research%20Centre!5e0!3m2!1sen!2sin!4v1719338718455!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div>
    <div class="form"> 
        <input type="text" pInputText />
        <input type="text"  pInputText />
        <input type="text" pInputText />
        <p-dropdown 
    [options]="cities"  
    optionLabel="name" 
    placeholder="Select a City" />
    <textarea 
    rows="5"
    cols="30" 
    pInputTextarea 
    >
</textarea>
    </div>
</div>
</div>
</div>