<app-navbar></app-navbar>
<div class="facility">
    <div class="heading" style="color: #008080; font-size: 48px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Our Facilities</div>
    <div class="content" style=" text-align: justify; color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; word-wrap: break-word">At Rashtrotthana Hospital, we strive to provide comprehensive healthcare services beyond the ordinary. Our commitment to excellence extends far beyond the clock, ensuring round-the-clock access to critical medical facilities. Our dedicated team of professionals, with a focus on patient-centric care, seamlessly manages every aspect of your healthcare journey. From advanced diagnostic capabilities to specialized treatment options, we offer a wide range of services designed to meet your unique healthcare needs.</div>
</div>
<div class="container">
    <ng-container *ngFor="let box of box; let i = index">
        <app-box-card 
          [image]="activeHoverIndex === i ? hoverBoxes[i].image : box.image" 
          [title]=" box.title" 
          [button_text]="box.button_text"
          (mouseover)="onMouseOver(i)"
          (mouseout)="onMouseOut()"
          (buttonClick)="onButtonClick(box.route)">
        </app-box-card>
      </ng-container>
</div>
<app-footer></app-footer>
