<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="navbar-container">
    <nav id="navbar">
        <!-- <div class="contact-nav">
            <div>
                <a style="margin-left: 2rem;" href="mailto:info@amazeinstitute.co.in"></a>
            </div>
            <div>
                <a href="tel:+91-9742235296">+91 - 9742235296</a>
            </div>
        </div> -->
        <div class="contact-nav">
            <div class="contact">
                <a style="margin-left: 2rem;margin-top: 10px;" href="mailto:info@amazeinstitute.co.in"><img src="../../assets/mail-logo.png"> info&#64;rashtrotthanahospital.com</a>
                <a style="margin-left: 2rem;margin-top: 10px;" href="tel:+91-9742235296"><img src="../../assets/call-logo.png"> 080 6923 9999</a>
            </div>
            <div class="button">
                    <div class="submit-button">
                        <div class="submit-text">Emergency</div>
                        <div class="submit-arrow">
                            <div class="arrow"><img style="margin-top:3px;margin-left:-6px" src="../../assets/Ambulance.png"></div>
                        </div>
                    </div>
                    
                    <div style="margin-left: 2rem;" class="submit-button">
                        <div class="submit-text">Enquiry/Appointment</div>
                        <div class="submit-arrow">
                            <div class="arrow">></div>
                        </div>
                    </div>
                    
            </div>
            <div class="icons">
                <img  style="margin-left: 2rem;"src="../../assets/fb.png" />
                <img  style="margin-left: 2rem;"src="../../assets/youtube.png" />
                <img  style="margin-left: 2rem;"src="../../assets/x.png" />
                <img style="margin-left: 2rem;" src="../../assets/fb.png" />
            </div>
        </div>
        <div class="nav-wrapper">
            <div class="logo">
                <img class="logo-image" src="../../assets/JMRH Logo.png">
            </div>
            <div>
                <ul id="menu">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/portfolio">Specialities</a></li>
                    <li><a routerLink="/blog">Doctors</a></li>
                    <li><a routerLink="/contact">Facilities </a></li>
                    <li><a routerLink="">Health Check</a></li>
                    <li><a routerLink="/about">Contact Us</a></li>
                    <li><a routerLink="/portfolio">Donation</a></li>
                    <li><a routerLink="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>

    </nav>

</div>