<!-- topbar -->
<div class="menu-bar">
  <div class="contact-nav">
    <div class="d-flex flex-column flex-lg-row contact">
      <div class="links-container">
        <div class="each-link">
          <a href="mailto:info@amazeinstitute.co.in">
            <img src="../../assets/mail-logo.png" alt="">
            info&#64;rashtrotthanahospital.com
          </a>
        </div>
        <div class="each-link">
          <a href="tel:+91-9742235296">
            <img src="../../assets/call-logo.png" alt="">
            080 6923 9999
          </a>
        </div>
      </div>
    </div>
    <div class="button d-flex align-items-center">
      <div class="submit-button me-3 d-flex align-items-center">
        <div class="submit-text">Emergency</div>
        <div class="submit-arrow">
          <div class="arrow">
            <img style="margin-top:3px;margin-left:-6px" src="../../assets/Ambulance.png" alt="">
          </div>
        </div>
      </div>
      <div class="submit-button d-flex align-items-center">
        <div class="submit-text">Enquiry/Appointment</div>
        <div class="submit-arrow">
          <div class="arrow"><img style="margin-top:3px;margin-left:-6px" src="../../assets/Appointment Scheduling.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="icons d-flex">
      <img src="../../assets/fb.png" alt="" (click)="openLink('facebook')" class="me-2" />
      <img src="../../assets/youtube.png" alt="" (click)="openLink('youtube')" class="me-2" />
      <img src="../../assets/x.png" alt="" (click)="openLink('twitter')" class="me-2" />
      <img src="../../assets/ig.png" alt="" (click)="openLink('instagram')" />
    </div>
  </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div id="navbar">
    <a class="navbar-brand" href="#">
      <div class="logo">
        <img class="logo-image" src="../../assets/JMRH Logo.png" alt="" (click)="navigateToHome()">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="links">
        <ul class="navbar-nav ms-auto" id="menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/specialists" routerLinkActive="active-link">Specialities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctor" routerLinkActive="active-link">Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/facility" routerLinkActive="active-link">Facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/health-checkup" routerLinkActive="active-link">Health Check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/donation" routerLinkActive="active-link">Donation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog" routerLinkActive="active-link">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
