<div class="doctor-container">
    <div class="doctor-about">
        <div class="heading">
            Expert Care, Experienced Hands: Your Health, Our Priority!
        </div>
        <div class="content">
            Experience compassionate care and expertise tailored to your needs. Our dedicated team of doctors is
            committed to preserving your health and restoring hope, every step of the way.
        </div>
    </div>
    <div class="form-card">
        <div class="form-container">
            <form>
                <select class="form-input">
                    <option value="" disabled selected>Select Doctor Name</option>
                    <option value="specialty1">Specialty 1</option>
                    <option value="specialty2">Specialty 2</option>
                    <option value="specialty3">Specialty 3</option>
                </select><br><br>
                <select class="form-input">
                    <option value="" disabled selected>Filter by Specialities</option>
                    <option value="department1">Department 1</option>
                    <option value="department2">Department 2</option>
                    <option value="department3">Department 3</option>
                </select><br><br>
                <app-arrow-btn [text]="'Search Now'"></app-arrow-btn>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <ng-container *ngFor="let doctor of dcotors">
        <app-doctors [image]="doctor.image" [name]="doctor.name" [desgination]="doctor.desgination"
            [about]="doctor.about"></app-doctors>
    </ng-container>
</div>
