<div>
    <img class="cover-image" src="../../assets/Twitter Cover 1.png">
</div>
<div class="specialities">
    <div class="section-1">
        <div class="card">
            <div class="image">
                <img class="primary" src="../../assets/medicine.png">
                <img class="secondary" src="../../assets/speciality-modern-medicine-hover.png">
            </div>
            <div class="content">
                <div class="special-heading">
                    MOdern Medicine
                </div>
                <div class="special-para">Leading the way with 15+ specialties in modern medicine.</div>
                <div
                    style="width: 129px; height: 40px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #E6E6E6; border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; text-transform: capitalize; line-height: 20px; word-wrap: break-word">
                        Show More</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img class="primary" src="../../assets/specialities-2.png">
                <img class="secondary" src="../../assets/speciality-ayurveda-hover.png">
            </div>
            <div class="content">
                <div class="special-heading">
                    Ayurveda
                </div>
                <div class="special-para"> Holistic treatment, preserving body harmony while addressing specific issues.
                </div>
                <div
                    style="width: 129px; height: 40px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #E6E6E6; border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div
                        style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; text-transform: capitalize; line-height: 20px; word-wrap: break-word">
                        Show More</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <div class="card">
            <div class="image">
                <img class="primary" src="../../assets/specialities-3.png">
                <img class="secondary" src="../../assets/speciality-naturopathy-hover.png">
            </div>
            <div class="content">
                <div class="special-heading">
                    Naturopathy
                </div>
                    <div class="special-para">Leading the way with 15+ specialties in modern medicine.</div>
                    <div
                        style="width: 129px; height: 40px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #E6E6E6; border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div
                            style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; text-transform: capitalize; line-height: 20px; word-wrap: break-word">
                            Show More</div>
                    </div>
                </div>
            </div>
        <div class="card">
            <div class="image">
                <img class="primary" src="../../assets/specialities-4.png">
                <img class="secondary" src="../../assets/speicality-yoga-hover.png">
            </div>
            <div class="content">
                <div class="special-heading">
                    yoga science
                </div>
                    <div class="special-para">Embrace natural healing methods, tailored to your unique health needs.
                    </div>
                    <div
                        style="width: 129px; height: 40px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #E6E6E6; border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div
                            style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; text-transform: capitalize; line-height: 20px; word-wrap: break-word">
                            Show More</div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="section-1">
            <div class="card">
                <div class="image">
                    <img class="primary" src="../../assets/specialities-5.png">
                    <img class="secondary" src="../../assets/speciality-homeopathy-hover.png">
                </div>
                <div class="content">
                    <div class="special-heading">
                        homoeopathy
                    </div>
                    <div class="special-para">Tailored medicine based on individual traits, not just diagnoses.</div>
                    <div
                        style="width: 129px; height: 40px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #E6E6E6; border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div
                            style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; text-transform: capitalize; line-height: 20px; word-wrap: break-word">
                            Show More</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img class="primary" src="../../assets/specialities-6.png">
                    <img class="secondary" src="../../assets/speciality-research-hover.png">
                </div>
                <div class="content">
                    <div class="special-heading">
                        research center
                    </div>
                    <div class="special-para">The main objective is to set research directions, review project progress,
                        and
                        collaborate with national and international organizations.</div>
                    <div
                        style="width: 129px; height: 40px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #E6E6E6; border-radius: 30px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div
                            style="color: black; font-size: 16px; font-family: Poppins; font-weight: 600; text-transform: capitalize; line-height: 20px; word-wrap: break-word">
                            Show More</div>
                    </div>
                </div>
            </div>
        </div>
  </div>
  