<app-navbar></app-navbar>
<div>
    <img class="home-bg" src="../../assets/home-bg.png">
</div>
<div class="second-container">
    <div class="container">
        <div class="icons">
            <ng-container *ngFor="let feature of features">
                <div [class]="'icon ' + feature.className" class="bg-features">
                    <img [src]="'../../assets/' + feature.icon" [alt]="feature.name" class="primary" (mouseover)="onMouseOver(feature.key)" (mouseleave)="onMouseOut()">
                    <img [src]="'../../assets/' + feature.image" [alt]="feature.name" class="secondary"  (mouseover)="onMouseOver(feature.key)" (mouseleave)="onMouseOut()">
                </div>
            </ng-container>
        </div>
        <div class="text-container">
            <div class="number-one">
                <img class="sheild" [src]="image[showImage]">
            </div>
            <div class="title">{{title[showTitle]}}</div>
            <div class="content">{{ content[showContent] }}</div>
        </div>
    </div>
</div>
<div class="third-container">
    <div class="form-container">
        <form>
            <select class="form-input">
                <option value="" disabled selected>Select Specialties</option>
                <option value="specialty1">Specialty 1</option>
                <option value="specialty2">Specialty 2</option>
                <option value="specialty3">Specialty 3</option>
            </select>
            <select class="form-input">
                <option value="" disabled selected>Select Department</option>
                <option value="department1">Department 1</option>
                <option value="department2">Department 2</option>
                <option value="department3">Department 3</option>
            </select>
            <input type="text" class="form-input" placeholder="Doctor Name">
            <app-arrow-btn [text]="'Submit'"></app-arrow-btn>
        </form>
    </div>
</div>
<div class="fourth-container">
    <p-card class="card">
        <div class="card-header">Specialty OPD - Mon to Sun</div>
        <p class="m-0">
            Morning: 10.00 am to 05.00 pm<br>Evening: 05:30 pm to 07:30 pm
        </p>
    </p-card>
    <p-card class="card">
        <div class="card-header">Ward / Room Visiting Hours</div>
        <p class="m-0">
            Morning: 11.00 am to 12.30 pm<br>Evening: 04:00 pm to 06:00 pm
        </p>
    </p-card>
    <p-card class="card">
        <div class="card-header">ICU Visiting Hours</div>
        <p class="m-0">
            Morning: 11.30 am to 12.30 pm<br>Evening: 04:00 pm to 05:00 pm
        </p>
    </p-card>
</div>
<div class="fifth-container">
    <div class="service-header">
        We Provide 24/7 Services
    </div>
    <div class="service-container">
        <div class="bg-service">
            <img  class="primary"src="../../assets/emergency.png">
            <img class="secondary"src="../../assets/Emergency-1.png">
        </div>
        <div class="bg-service">
            <img  class="primary"src="../../assets/laboratory.png">
            <img class="secondary"src="../../assets/Laboratory-1.png">
        </div><div class="bg-service">
            <img  class="primary"src="../../assets/Radiology.png">
            <img class="secondary"src="../../assets/Radiology-1.png">
        </div><div class="bg-service">
            <img  class="primary"src="../../assets/Pharmacy.png">
            <img class="secondary"src="../../assets/Pharmacy-1.png">
        </div><div class="bg-service">
            <img  class="primary"src="../../assets/Dialysis.png">
            <img class="secondary"src="../../assets/Dialysis-1.png">
        </div>
    </div>
</div>
<div class="sixth-container">
    <div class="about-content-div">
        <div class="about-div">
            <div class="about-text"></div>
            <div class="about">About Us</div>
        </div><br>
        <div class="about-us-heading">
            Humane Health Care Service<br> Through State-Of-The-Art-<br>Infrastructure.
        </div>
        <div class="about-us-content">
            Jayadev Memorial Rashtrotthana Hospital & Research Centre is a 162 Bed Integrated Multi- Specialty Tertiary
            Care Hospital with world class health care facilities. Jayadev Memorial Rashtrotthana Hospital & Research
            Centre is a Unit of Rashtrotthana trust. Our renowned doctors and specialists in the field of Modern
            Medicine, Ayurveda, Homeopathy, Yoga & Naturopathy provide expert care with a holistic approach.
        </div>
        <div class="read-button">
            <app-arrow-btn [text]="'Read More'"></app-arrow-btn>
        </div>
    </div>
    <div class="about-image-container">
        <img class="about-image" src="../../assets/about-img.png">
        <div class="about-image-content">
            <img src="../../assets/curly-arrow.png">
            The guiding force behind Rashtrotthana Parishat,
            Sri M C Jayadev, envisioned, nurtured and mentored the organisation from inception. The very embodiment of
            duty blended with nationalism, his life-long adherence to 'One Life One Mission' was unparalleled.
            Rashtrotthana Parishat is moving towards its objective of building a prosperous and healthy society by
            virtue of the durable foundation laid by him.
        </div>
    </div>
</div>
<div style="background-color: #fbfff4;">
<div class="seventh-container">
    <!-- <img class="count" src="../../assets/100.png">
    <img class="count"src="../../assets/20000.png">
    <img class="count"src="../../assets/2022.png">
    <img class="count"src="../../assets/150.png">
    <img class="count"src="../../assets/25.png"> -->
    <div class="box" *ngFor="let box of box">
        <img [src]="'../../assets/'+ box.icon">
        <div class="number">
            {{box.number}}
        </div>
        <div class="statement">
            {{box.statement}}
        </div>
    </div>
</div>

</div>
<div class="eight-container">
    <div class="achieve-content">
        <div class="achieve-heading">
            Achievements
        </div>
        <div>
            <ul style="list-style-type: disc;">
                <li>In the very first month of the inauguration of hospital we catered our services to 2500+ patients.
                </li>
                <li>We started our IP services from the month of January 2023 within 1 month we crossed 100+ In -
                    Patients Admissions.</li>
                <li>Our hospital has performed 500+ Surgeries till date.</li>
                <li>Specialty Clinics like Ano-rectal, Hernia & Liver clinics once a week</li>
                <li>Sunday Clinics to benefit the community</li>
                <li>Insurance empanelment with corporate & TPA's.</li>
                <li>School Health Program launched and has been continuously conducting awareness sessions.</li>
                <li class="last-li">As the part of Social Responsibility we are continuously catering free medical camps
                    in different localities benefitting nearly 15000 needy people so far that includes orphanages, old
                    age homes & schools.</li>
            </ul>
        </div>
    </div>
    <div class="achieve-image">
        <img class="NABH" src="../../assets/NABH.png">
    </div>
</div>
<div class="department">
    <div class="title-container">
        <app-title-button text='Our Latest Programs'></app-title-button>
    </div>
    <div class="ninth-container">

        <div class="specialities">
            <div class="about-us-heading">
                Our Specialities: Patient-Centered Integrated Approach, all under one roof!
            </div>
            <div class="care-image">
                <div class="bg-care">
                    <img class="primary" src="../../assets/Diabitics Care.png">
                    <img class="secondary" src="../../assets/Diabetic-care.png">
                </div>
                <div class="bg-care">
                    <img class="primary" src="../../assets/Menospace Care.png">
                    <img class="secondary" src="../../assets/menuspause.png">
                </div>
                <div class="bg-care">
                    <img class="primary" src="../../assets/Maternity.png">
                    <img class="secondary" src="../../assets/Maternity-care.png">
                </div>
            </div>
        </div>
        <div class="four">
            <div class="four-image">
                <img src="../../assets/four.png">
            </div>
            <div class="hospital">
                <img src="../../assets/hospital-1.png">
                <img src="../../assets/hospital-2.png">
                <img src="../../assets/hospital-3.png">
                <img src="../../assets/hospital-1.png">
            </div>
        </div>
    </div>
</div>
<div class="tenth-container">
    <div class="empty">

    </div>
    <div class="free-div free">
        <div class="free-text"></div>
        <div class="free-1">Our Free Service</div>
    </div>
    <div class="corporate">
        Corporate Social Responsibility
    </div>
    <div class="hope">
        "Give Hope, Donate to Heal: Supporting<br> Our Hospital, Saving Lives!"
    </div>
    <div class="benefit">
        50+<br>
        <p class="text-benefit">Beneficiaries</p>
    </div>
    <div class="button">
        <div class="donate-button">
            <div class="donate-text">DOANTE HERE</div>
            <div class="donate-arrow">
                <div class="arrow">></div>
            </div>
        </div>
    </div>
    <div class="empty-1">

    </div>
</div>


<app-programms></app-programms>
<app-footer></app-footer>