<div class="heading">
    <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
</div>

<div class="doc_container">
  <div class="doctors_flex">
    <div class="doc_details" *ngFor="let slide of doctors; let i = index" [ngClass]="{ active: i === 0 }">
      <div class="doc_1">
        <img [src]="slide.image" alt="{{ slide.name }}" />
        <p class="doc_name">{{ slide.name }}</p>
        <p class="section">{{ slide.section }}</p>
        <p class="designation">{{ slide.designation }}</p>
        <p class="department">{{ slide.Department }}</p>
      </div>
    </div>
  </div>
</div>
